
.current-session {
  position: fixed;
  left: 15%;
  top: 55px;
  width: 85%;
  height: calc(100% - 55px - 77px);
  border: 1px solid #CC8787;
  overflow: scroll;

  .session-title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .user-paragraph {
    padding: 10px 200px 10px 20px;
    text-align: right;

    &:before {
      content: "User: ";
      font-weight: bold;
    }
  }

  .spt-paragraph {
    padding: 10px 10px 10px 50px;

    &:before {
      content: "SPT: ";
      font-weight: bold;
    }

    .bold {
      font-weight: bold;
    }
  }

}
