.session-history {
  position: fixed;
  left: 0;
  top: 55px;
  width: 15%;
  height: calc(100% - 55px);
  border-top: 1px solid #CC8787;
  overflow: scroll;
  padding-top: 10px;
  padding-left: 2px;

  .new-session-action {
    margin-top: 20px;
    border: 1px solid #CC8787;
  }
}
