.main {

  .topbar {

    height: 50px;

    img {
      float: left;
      height: 50px;
      width: 50px;
    }
  }

  .header {
    padding-top: 10px;
    width: 100%;
    text-align: center;

    img {
      height: 250px;
    }
  }

}
